/***********************************************************
                        	Mixin
************************************************************/


@mixin text($size, $color :null, $weight :null, $letter-spacing :null, $line-height :null) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin background-content($icon, $size, $bg-position :null) {
	background-image: url('../img/#{$icon}');
	background-size: $size;
	background-position: $bg-position;
	content: '';
	z-index: 1;
	background-repeat: no-repeat;
}

@mixin bg-dimention-position($width, $height, $position, $top :null, $right :null, $bottom :null, $left :null) {
	position: $position;
	height: $height;
	width: $width;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


/***********************************************************
                      Place Holders
************************************************************/


%buttonless {
	background-color: initial;
	border: none;
	padding: 0;
}


/***********************************************************
                      	  Colors
************************************************************/


$white												: #ffffff;
$black												: #000000;
$Hippie-Blue										: #6598ab;
$Silver-Sand										: #CBCDCD;
$Java												: #23afc8;
$Deep-Cerulean										: #05839c;
$Salmon												: #fa8661;
$Orange												: #fb5b28;
$Arrowtown											: #998c6a;
$Bazaar												: #9e888a;
$Juniper											: #769992;
$Dove-Gray											: #676767;
$Emperor											: #505050;
$mintcream											: #f5fffa;
$blue												: #0000ff;
$Dark-Shaft											: #242424;
$Light-Shaft										: #333333;

/***********************************
           Colors Function
************************************/

//burger
$color-burger-header-h1								: $white;
$color-burger-selected-box							: $blue;
$color-burger-header-box							: $Dark-Shaft;
$color-burger-item									: $Light-Shaft;
$color-burger-a-text								: $white;
$color-burger-item-hover							: black;

//Brand
$color-brand										: $black;
$color-brand-max									: $white;
$color-blog-bg										: $Salmon;
$color-blog-bg-hover								: $Orange;
$color-blog-text									: $white;

//Site Menu
$color-site-menu-a									: $Dove-Gray;
$color-site-menu-selected							: $Java;
$color-site-menu-a-selected							: $black;
$color-site-menu-a-selected-underline				: $Deep-Cerulean;
$color-site-menu-hover-bg							: $white;
$color-site-menu-hover-underline					: $Deep-Cerulean;

//Recomended
$color-recomended-bg								: $Hippie-Blue;

//Content
$color-content-item-bg								: $mintcream;
$color-middle-span-tx								: $white;
$color-middle-span-bg								: $black;
$color-item-p										: $Emperor;


/***********************************************************
                      	Font Family
************************************************************/




/***********************************
       Font Family Function
************************************/


/***********************************************************
            	  Relationship Variables
************************************************************/

//Burger Menu
$var-burger-width				: 20em;
$var-burger-menu-a-text 		: 1.5em;
$var-burger-menu-a-padding	 	: 0.75em;

$var-burger-menu-a-height		: calc((#{$var-burger-menu-a-padding} * 2) + #{$var-burger-menu-a-text});
//

//Burger Item Icon
$var-icon-width-height			: 1.25em;
$var-icon-top					: 17px;
$var-icon-left					: 19px;
//

//Brand / Blog
$var-lg-brand-blog-top-set 		: 3em;
$var-sm-brand-blog-top-set 	 	: 1.5em;
//

//Recomended
$var-rec-wrap-width				: 100vw;
$var-rec-item-img-ch			: 17vw;

$var-rec-wrapper-height-pct		: 0.50;
$var-rec-box-height-pct			: 0.40;
$var-rec-box-width-pct-ch		: 0.81;


$var-rec-panel-width-ch			: calc(#{$var-rec-wrap-width} - (#{$var-rec-box-width-pct-ch} * #{$var-rec-wrap-width}));
$var-rec-wrapper-height			: calc(#{$var-rec-wrap-width} * #{$var-rec-wrapper-height-pct});
$var-rec-box-height				: calc(#{$var-rec-wrap-width} * #{$var-rec-box-height-pct});
$var-rec-box-width-ch			: calc(#{$var-rec-wrap-width} * #{$var-rec-box-width-pct-ch});

$var-rec-bg						: calc(#{$var-rec-box-width-ch} + #{$var-rec-panel-width-ch});
$var-rec-box-top				: calc((#{$var-rec-wrapper-height} / 2) - (#{$var-rec-box-height} / 2));
$var-rec-panel-width			: calc(#{$var-rec-panel-width-ch} / 2);
$var-rec-box-width				: calc(#{$var-rec-box-width-ch} / 3);
$var-rec-box-left-1				: calc(#{$var-rec-panel-width});
$var-rec-box-left-2				: calc(#{$var-rec-panel-width} + #{$var-rec-box-width});
$var-rec-box-left-3				: calc(#{$var-rec-panel-width} + (#{$var-rec-box-width} * 2));
$var-rec-item-top				: calc((#{$var-rec-wrapper-height} / 2) - (#{$var-rec-wrapper-height} / 2));
$var-rec-item-position-1		: calc(#{$var-rec-panel-width} - #{$var-rec-box-width});
$var-rec-item-position-2		: calc(#{$var-rec-panel-width});
$var-rec-item-position-3		: calc(#{$var-rec-panel-width} + #{$var-rec-box-width});
$var-rec-item-position-4		: calc(#{$var-rec-panel-width} + (#{$var-rec-box-width} * 2));
$var-rec-item-position-5		: calc(#{$var-rec-panel-width} + #{$var-rec-box-width-ch});
$var-rec-item-img 				: $var-rec-item-img-ch;
$var-rec-content-item-a 		: $var-rec-box-height;
$var-rec-p-max-height			: calc(#{$var-rec-box-height} - #{$var-rec-item-img-ch} - 1.5em);

//Recomended Max
$var-rec-wrap-width-max			: 1400px;
$var-rec-item-img-ch-max		: 17vw;

$var-rec-panel-width-ch-max		: calc(100vw - (#{$var-rec-box-width-pct-ch} * #{$var-rec-wrap-width-max}));
$var-rec-wrapper-height-max		: calc(#{$var-rec-wrap-width-max} * #{$var-rec-wrapper-height-pct});
$var-rec-box-height-max			: calc(#{$var-rec-wrap-width-max} * #{$var-rec-box-height-pct});
$var-rec-box-width-ch-max		: calc(#{$var-rec-wrap-width-max} * #{$var-rec-box-width-pct-ch});

$var-rec-box-top-max			: calc((#{$var-rec-wrapper-height-max} / 2) - (#{$var-rec-box-height-max} / 2));
$var-rec-panel-width-max		: calc((#{$var-rec-panel-width-ch-max} / 2));
$var-rec-box-width-max			: calc(#{$var-rec-box-width-ch-max} / 3);
$var-rec-box-left-1-max			: calc(#{$var-rec-panel-width-max});
$var-rec-box-left-2-max			: calc(#{$var-rec-panel-width-max} + #{$var-rec-box-width-max});
$var-rec-box-left-3-max			: calc(#{$var-rec-panel-width-max} + (#{$var-rec-box-width-max} * 2));
$var-rec-item-top-max			: calc((#{$var-rec-wrapper-height-max} / 2) - (#{$var-rec-wrapper-height-max} / 2));
$var-rec-item-position-1-max	: calc(#{$var-rec-panel-width-max} - #{$var-rec-box-width-max});
$var-rec-item-position-2-max	: calc(#{$var-rec-panel-width-max});
$var-rec-item-position-3-max	: calc(#{$var-rec-panel-width-max} + #{$var-rec-box-width-max});
$var-rec-item-position-4-max	: calc(#{$var-rec-panel-width-max} + (#{$var-rec-box-width-max} * 2));
$var-rec-item-position-5-max	: calc(#{$var-rec-panel-width-max} + #{$var-rec-box-width-ch-max});
$var-rec-item-img 				: $var-rec-item-img-ch;
$var-rec-content-item-a-max 	: $var-rec-box-height;
$var-rec-p-max-height-max		: calc(#{$var-rec-box-height-max} - #{$var-rec-item-img-ch-max} - 1.5em);
//
//

//Content Items - Target
$var-item-img-ch				: 80vw;

$var-item-img 					: calc(100vw - #{$var-item-img-ch} - (8 * 15px));
$var-content-item-a 			: calc(#{$var-item-img} * 2 + 5vw);
//

//Content Items Max
$var-p-max-height				: calc(100% - 1.5em - #{$var-item-img});
//

//Content Items Min
$var-img-min-height 			: 150px;

$var-a-min-height 				: calc(#{$var-img-min-height} * 3);
$var-p-min-height 				: calc(#{$var-img-min-height} * 2);
//

//Content Items + Target
//xm > 500
$var-item-img-target-ch-500		: 10vw;

$var-item-img-target-500		: calc(100vw - #{$var-item-img-target-ch-500} - (8 * 15px));
$var-content-item-a-target-500 	: calc(#{$var-item-img-target-500} * 2 + 5vw);
$var-p-max-height-target-500	: calc(100% - 1.5em - #{$var-item-img-target-500});

//Content Items + Target
//xm
$var-item-img-target-xm-ch		: 30vw;

$var-item-img-target-xm			: calc(100vw - #{$var-item-img-target-xm-ch} - (8 * 15px));
$var-content-item-a-target-xm	: calc(#{$var-item-img-target-xm} * 2 + 5vw);
$var-p-max-height-target-xm		: calc(100% - 1.5em - #{$var-item-img-target-xm});

//sm
$var-item-img-target-sm-ch		: 45vw;

$var-item-img-target-sm			: calc(100vw - #{$var-item-img-target-sm-ch} - (8 * 15px));
$var-content-item-a-target-sm	: calc(#{$var-item-img-target-sm} * 2 + 5vw);
$var-p-max-height-target-sm		: calc(100% - 1.5em - #{$var-item-img-target-sm});

//lg
$var-item-img-target-lg-ch		: 55vw;

$var-item-img-target-lg			: calc(100vw - #{$var-item-img-target-lg-ch} - (8 * 15px));
$var-content-item-a-target-lg	: calc(#{$var-item-img-target-lg} * 2 + 5vw);
$var-p-max-height-target-lg		: calc(100% - 1.5em - #{$var-item-img-target-lg});


/**************************** Safary Compatible ****************************/

//Recomended
$var-saf-rec-wrap-width						: 100vw;
$var-saf-rec-item-img-ch					: 17vw;

$var-saf-rec-wrapper-height-pct				: 0.50;
$var-saf-rec-box-height-pct					: 0.40;
$var-saf-rec-box-width-pct-ch				: 0.81;


$var-saf-rec-panel-width-ch					: calc(#{$var-saf-rec-wrap-width} - (#{$var-saf-rec-box-width-pct-ch} * #{$var-saf-rec-wrap-width}));
$var-saf-rec-wrapper-height					: calc(#{$var-saf-rec-wrap-width} * #{$var-saf-rec-wrapper-height-pct});
$var-saf-rec-box-height						: calc(#{$var-saf-rec-wrap-width} * #{$var-saf-rec-box-height-pct});
$var-saf-rec-box-width-ch					: calc(#{$var-saf-rec-wrap-width} * #{$var-saf-rec-box-width-pct-ch});

$var-saf-rec-bg								: calc((100vw * .81) + (100vw - (.81 * 100vw)));
$var-saf-rec-box-top						: calc(((100vw * .5) / 2) - ((100vw * .4) / 2));
$var-saf-rec-panel-width					: calc((100vw - (.81 * 100vw)) / 2);
$var-saf-rec-box-width						: calc((100vw * .81) / 3);
$var-saf-rec-box-left-1						: calc((100vw - (.81 * 100vw)) / 2);
$var-saf-rec-box-left-2						: calc(((100vw - (.81 * 100vw)) / 2) + ((100vw * .81) / 3));
$var-saf-rec-box-left-3						: calc(((100vw - (.81 * 100vw)) / 2) + (((100vw * .81) / 3) * 2));
$var-saf-rec-item-top						: calc((#{$var-saf-rec-wrapper-height} / 2) - (#{$var-saf-rec-wrapper-height} / 2));
$var-saf-rec-item-position-1				: calc(((100vw - (.81 * 100vw)) / 2) - ((100vw * .81) / 3));
$var-saf-rec-item-position-2				: calc(((100vw - (.81 * 100vw)) / 2));
$var-saf-rec-item-position-3				: calc(((100vw - (.81 * 100vw)) / 2) + ((100vw * .81) / 3));
$var-saf-rec-item-position-4				: calc(((100vw - (.81 * 100vw)) / 2) + (((100vw * .81) / 3) * 2));
$var-saf-rec-item-position-5				: calc(((100vw - (.81 * 100vw)) / 2) + (100vw * .81));
$var-saf-rec-item-img 						: $var-saf-rec-item-img-ch;
$var-saf-rec-content-item-a 				: $var-saf-rec-box-height;
$var-saf-rec-p-max-height					: calc((100vw * .4) - 17vw - 1.5em);

//Recomended Max
$var-saf-rec-wrap-width-max					: 1400px;
$var-saf-rec-item-img-ch-max				: 17vw;

$var-saf-rec-panel-width-ch-max				: calc(100vw - (#{$var-saf-rec-box-width-pct-ch} * #{$var-saf-rec-wrap-width-max}));
$var-saf-rec-wrapper-height-max				: calc(#{$var-saf-rec-wrap-width-max} * #{$var-saf-rec-wrapper-height-pct});
$var-saf-rec-box-height-max					: calc(#{$var-saf-rec-wrap-width-max} * #{$var-saf-rec-box-height-pct});
$var-saf-rec-box-width-ch-max				: calc(#{$var-saf-rec-wrap-width-max} * #{$var-saf-rec-box-width-pct-ch});

$var-saf-rec-box-top-max					: calc(((1400px * .5) / 2) - ((1400px * .4) / 2));
$var-saf-rec-panel-width-max				: calc((100vw - (.81 * 1400px)) / 2);
$var-saf-rec-box-width-max					: calc((1400px * .81) / 3);
$var-saf-rec-box-left-1-max					: calc((100vw - (.81 * 1400px)) / 2);
$var-saf-rec-box-left-2-max					: calc(((1400px * .5) / 2) - ((1400px * .4) / 2));
$var-saf-rec-box-left-3-max					: calc(((100vw - (.81 * 1400px)) / 2) + (((1400px * .81) / 3) * 2));
$var-saf-rec-item-top-max					: calc((#{$var-saf-rec-wrapper-height-max} / 2) - (#{$var-saf-rec-wrapper-height-max} / 2));
$var-saf-rec-item-position-1-max			: calc((((100vw - (.81 * 1400px)) / 2)) - ((1400px * .81) / 3));
$var-saf-rec-item-position-2-max			: calc((((100vw - (.81 * 1400px)) / 2)));
$var-saf-rec-item-position-3-max			: calc((((100vw - (.81 * 1400px)) / 2)) + ((1400px * .81) / 3));
$var-saf-rec-item-position-4-max			: calc((((100vw - (.81 * 1400px)) / 2)) + (((1400px * .81) / 3) * 2));
$var-saf-rec-item-position-5-max			: calc((((100vw - (.81 * 1400px)) / 2)) + (1400px * .81));
$var-saf-rec-item-img 						: $var-saf-rec-item-img-ch;
$var-saf-rec-content-item-a-max 			: $var-saf-rec-box-height;
$var-saf-rec-p-max-height-max				: calc((100vw * .4) - 17vw - 1.5em);
//
//

//Content Items - Target
$var-saf-item-img-ch				: 80vw;

$var-saf-item-img 					: calc(100vw - #{$var-saf-item-img-ch} - (8 * 15px));
$var-saf-content-item-a 			: calc((100vw - 80vw - (8 * 15px)) * 2 + 5vw);
//

//Content Items Max
$var-saf-p-max-height				: calc(100% - 1.5em - (100vw - 80vw - (8 * 15px)));
//

//Content Items Min
$var-saf-img-min-height 			: 150px;

$var-saf-a-min-height 				: calc(#{$var-saf-img-min-height} * 3);
$var-saf-p-min-height 				: calc(#{$var-saf-img-min-height} * 2);

//Content Items + Target
//xm > 500
$var-saf-item-img-target-ch-500		: 10vw;

$var-saf-item-img-target-500		: calc(100vw - #{$var-saf-item-img-target-ch-500} - (8 * 15px));
$var-saf-content-item-a-target-500 	: calc(#{$var-saf-item-img-target-500} * 2 + 5vw);
$var-saf-p-max-height-target-500	: calc(100% - 1.5em - #{$var-saf-item-img-target-500});

//Content Items + Target
//xm
$var-saf-item-img-target-xm-ch		: 30vw;

$var-saf-item-img-target-xm			: 1em;
$var-saf-content-item-a-target-xm	: calc(#{$var-saf-item-img-target-xm} * 2 + 5vw);
$var-saf-p-max-height-target-xm		: calc(100% - 1.5em - (100vw - 30vw - (8 * 15px)));

//sm
$var-saf-item-img-target-sm-ch		: 45vw;

$var-saf-item-img-target-sm			: calc(100vw - #{$var-saf-item-img-target-sm-ch} - (8 * 15px));
$var-saf-content-item-a-target-sm	: calc((100vw - 45vw - (8 * 15px)) * 2 + 5vw);
$var-saf-p-max-height-target-sm		: calc(100% - 1.5em - (100vw - 45vw - (8 * 15px)));

//lg
$var-saf-item-img-target-lg-ch		: 55vw;

$var-saf-item-img-target-lg			: calc(100vw - #{$var-saf-item-img-target-lg-ch} - (8 * 15px));
$var-saf-content-item-a-target-lg	: calc((100vw - 55vw - (8 * 15px)) * 2 + 5vw);
$var-saf-p-max-height-target-lg		: calc(100% - 1.5em - (100vw - 55vw - (8 * 15px)));
