/***********************************************************
                        	Mixin
************************************************************/


@mixin text($size, $color :null, $weight :null, $letter-spacing :null, $line-height :null) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin background-content($icon, $size, $bg-position :null) {
	background-image: url('../img/#{$icon}');
	background-size: $size;
	background-position: $bg-position;
	content: '';
	z-index: 1;
	background-repeat: no-repeat;
}
@mixin bg-dimention-position($width, $height, $position, $top :null, $right :null, $bottom :null, $left :null) {
	position: $position;
	height: $height;
	width: $width;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}


/***********************************************************
                      Place Holders
************************************************************/


%buttonless {
	background-color: initial;
	border: none;
	padding: 0;
}



/***********************************************************
                      	  Colors
************************************************************/


$white												: #ffffff;
$black												: #000000;
$Hippie-Blue										: #6598ab;
$Silver-Sand										: #CBCDCD;
$Java												: #23afc8;
$Deep-Cerulean										: #05839c;
$Salmon												: #fa8661;
$Orange												: #fb5b28;
$Arrowtown											: #998c6a;
$Bazaar												: #9e888a;
$Juniper											: #769992;
$Dove-Gray											: #676767;
$Emperor											: #505050;
$mintcream											: #f5fffa;


/***********************************
           Colors Function
************************************/

$color-burger-header-h1								: $white;

$color-site-menu-a									: $Dove-Gray;
$color-brand										: $black;
$color-blog-bg										: $Salmon;
$color-blog-bg-hover								: $Orange;
$color-blog-text									: $white;

$color-site-menu-selected							: $Java;
$color-site-menu-a-selected							: $black;
$color-site-menu-a-selected-underline				: $Deep-Cerulean;
$color-site-menu-hover-bg							: $white;
$color-site-menu-hover-underline					: $Deep-Cerulean;

$color-greeting-bg									: $Hippie-Blue;
$color-greeting-a									: $mintcream;

$color-content-item-bg								: $mintcream;
$color-middle-span-tx								: $white;
$color-middle-span-bg								: $black;
$color-item-p										: $Emperor;


/***********************************************************
                      	Font Family
************************************************************/




/***********************************
       Font Family Function
************************************/


/***********************************************************
            	  Relationship Variables
************************************************************/

//Burger Menu
$var-burger-width				: 20em;
$var-burger-menu-a-text 		: 1.5em;
$var-burger-menu-a-padding	 	: 0.75em;

$var-burger-menu-a-height		: calc((#{$var-burger-menu-a-padding} * 2) + #{$var-burger-menu-a-text});


//Burger Item Icon
$var-icon-width-height				: 1.25em;
$var-icon-top						: 17px;
$var-icon-left						: 19px;


//Brand / Blog
$var-lg-brand-blog-top-set 		: 3em;
$var-sm-brand-blog-top-set 	 	: 1.5em;


//Greeting
$var-greeting-container-size 	: 30vh;


//Content Items
$var-item-img 					: calc(100vw - 80vw - (8 * 15px));
$var-content-item-a 			: calc(#{$var-item-img} * 2 + 5vw);


//Content Items Max
$var-p-max-height				: calc(100% - 1.5em - #{$var-item-img});


//Content Items Min
$var-img-min-height 			: 150px;

$var-a-min-height 				: calc(#{$var-img-min-height} * 3);
$var-p-min-height 				: calc(#{$var-img-min-height} * 2);
