/***********************************************************
                      	  Global
************************************************************/


@import "_extends.scss";

.global {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


//////////// Clear Fix //////////////
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
//////////// Clear Fix //////////////


//////////// Outline Hack //////////////
#outline {
	content: '';
	position: absolute;

	&:focus {
		outline: none;
	}
};

.outline-hover {
    &:hover {
        outline: none!important;
    }
}
//////////// Outline Hack //////////////



/***********************************************************
                      Header Section
************************************************************/


.header-section {
    width: 100%;
    box-sizing: border-box;

    .nav-section {
        width: 100%;

        .nav-content {

            .logo-brand {
                display: inline-block;
                float: left;
                width: 17%;
                margin: $var-brand-blog-top-set auto 0;

                a {
                    margin: 0;
                    text-decoration: none;
                    color: $color-brand;
                    font-size: 1.6em;

                    &::before {

                    }
                }
            }

            .site-menu {
                display: inline-block;
                text-align: center;
                width: 68%;

                ul {
                    list-style: none;
                    margin: 0;
                    width: 100%;
                    min-width: 514px;
                    max-width: 1920px;
                    display: inline-block;

                    .item + .item {
                        margin-left: 1%;
                    }

                    .item {
                        display: inline-block;
                        width: 23%;

                        a {
                            text-decoration: none;
                            color: $color-site-menu;
                            display: inline-block;
                            font-size: 1.5em;
                            padding: 2em 0;
                            width: 12rem;
                        }
                    }
                }
            }

            .blog-button {
                display: inline-block;
                float: right;
                width: 15%;
                margin: $var-brand-blog-top-set auto 0;

                button {
                    background-color: $color-blog-bg;
                    border: initial;
                    border-radius: 5px;
                    float: right;
                    color: $color-blog-text;
                    padding: 0.4em 1.4em;
                    letter-spacing: 4px;
                }
            }
        }
    }
}


/***********************************************************
                     Content Section
************************************************************/

/******************************
           Greeting
******************************/

.content-section {
    height: 100%;

    .greeting-container {
        background-color: $color-greeting-bg;
        width: 100vw;

        .greeting-content {
            text-align: center;
            height: 100%;

            h1 {
                margin: calc(#{$var-greeting-container-size} / 2) 0;
                font-size: 15vh;
            }
        }
    }
}

/******************************
           Greeting
******************************/

.content-wrap {

    .content-item {

        ul {
            list-style: none;
            list-style-position: inside;

            .item {

                .item-img {
                    background-color: $color-item-img;
                    width: 100%;
                    height: calc(100vw - 80vw - (8 * 15px));
                    display: inline-block;

                    img {

                    }
                }

                p {

                }
            }
        }
    }
}


/***********************************************************
                      Footer Section
************************************************************/
